@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
    --blue: #2aa5a3;
    --white: white;
}


/* whole document */

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

body a {
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.45rem;
}

body::-webkit-scrollbar-track {
    background-color: #333333;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue);
}


/* selecting text */

*::selection {
    background: var(--blue);
    color: white;
}


/* sections */

section {
    padding: 2rem 9%;
}


/* btn style */

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: var(--blue);
    color: white;
    padding: 0.8rem 3rem;
    border: 0.2rem solid var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: rgba(179, 179, 179, 0.2);
    color: var(--blue);
}

.fa-times:before {
    color: rgb(206, 45, 45);
    text-shadow: 2px 1px 1px rgb(0, 0, 0);
}


/* header starting */

.heading {
    text-align: center;
    padding: 2.5rem 0;
}


/* the heading of each part of the index page */

.heading span {
    font-size: 3.5rem;
    background: rgba(179, 179, 179, 0.2);
    color: var(--blue);
    border-radius: 0.5rem;
    padding: 0.2rem 1rem;
}

.heading span.space {
    background: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.37);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .navbar {
    display: block;
    text-align: center;
}

header .navbar a {
    color: var(--white);
    font-size: 2rem;
    margin: 0 0.8rem;
}

header .navbar a:hover {
    color: var(--blue);
}

header .icons i {
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover {
    color: var(--blue);
}


/* logout users button pages starting */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 5px;
}


/* logout users button pages  endding*/


/* menu bar (side button) starting*/

#menu-bar {
    color: #fff;
    border: 0.1rem solid #fff;
    border-radius: 0.5rem;
    font-size: 3rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
    display: none;
}


/* menu bar ending*/


/* log-in starting */

.login-form-container {
    position: absolute;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active {
    top: 0;
}

.login-form-container form {
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    width: 50rem;
}

.login-form-container form h3 {
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}

.login-form-container form .box:focus {
    border-color: var(--blue);
}

.login-form-container form #remember {
    margin: 2rem 0;
}

.login-form-container form label {
    font-size: 1.2rem;
}

.login-form-container form .btn {
    display: block;
    width: 100%;
}

.login-form-container form #signup-btn {
    font-size: 15px;
    cursor: pointer;
    color: var(--blue);
}

.login-form-container form #signup-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.login-form-container form p {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a {
    color: var(--blue);
}

.login-form-container form p a:hover {
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close2 {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    z-index: 40;
}


/* log-in ending */


/* Forget passowrd starting */

.Forgetpassowrd-form-container {
    position: absolute;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Forgetpassowrd-form-container.active {
    top: 0;
}

.Forgetpassowrd-form-container form {
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    width: 50rem;
}

.Forgetpassowrd-form-container form h3 {
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.Forgetpassowrd-form-container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}

.Forgetpassowrd-form-container form .box:focus {
    border-color: var(--blue);
}

.Forgetpassowrd-form-container form #remember {
    margin: 2rem 0;
}

.Forgetpassowrd-form-container form label {
    font-size: 1.2rem;
}

.Forgetpassowrd-form-container form .btn {
    display: block;
    width: 100%;
}

.Forgetpassowrd-form-container form #signup-btn {
    font-size: 15px;
    cursor: pointer;
    color: var(--blue);
}

.Forgetpassowrd-form-container form #signup-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color: black;
}

.Forgetpassowrd-form-container form p {
    padding: 0.5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.Forgetpassowrd-form-container form p a {
    color: var(--blue);
}

.Forgetpassowrd-form-container form p a:hover {
    color: #333;
    text-decoration: underline;
}

.Forgetpassowrd-form-container #form-close3 {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    z-index: 40;
}


/* Forget passowrd ending */


/* sign-up starting*/

.signup-form-container {
    position: absolute;
    top: -300%;
    left: 0;
    z-index: 10000;
    min-height: 150vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form-container.active {
    top: 0;
}

.signup-form-container form {
    scroll-behavior: smooth;
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #fff;
    width: 80rem;
}

.signup-form-container form h3 {
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.signup-form-container form h2 {
    font-size: 3rem;
    text-decoration: none;
    color: #2aa5a3;
}

.signup-form-container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}

.signup-form-container form .box:focus {
    border-color: var(--blue);
}

.signup-form-container form label {
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.signup-form-container form .gender {
    margin: 15px;
}

.signup-form-container form .btn {
    display: block;
    width: 100%;
    text-align: center;
}

.signup-form-container #form-close {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
    z-index: 50;
}


/* sign-up form ending */


/* header ending */


/* home starting*/

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    text-align: center;
}

.home .content h3 {
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    padding: 0.5rem 0;
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .slider {
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 10rem;
}

.home .slider .vid-btn {
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 0.5rem;
}

.home .slider .vid-btn.active {
    background: var(--blue);
}


/* home ending*/


/* about us starting*/

.about_us .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about_us .row .image {
    flex: 1 1 40rem;
}

.about_us .row .image img {
    width: 100%;
    border-radius: 10px;
}

.about_us .row article h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.about_us .row article h1 {
    font-size: 15px;
    color: rgb(3, 2, 2);
}

.about_us .row article {
    flex: 1 1 40rem;
    padding: 6.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}


/* about us ending */


/* recruitment starting*/

.recruitment .row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.recruitment .row .image {
    flex: 1 1 40rem;
}

.recruitment .row .image img {
    width: 100%;
    border-radius: 10px;
}

.recruitment .row form {
    flex: 1 1 40rem;
    padding: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.recruitment .row form .btn {
    width: 100%;
    text-align: center;
}

.recruitment .row form .inputBox input {
    width: 100%;
    padding: 0.4rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.recruitment .row form .inputBox #jop {
    width: 100%;
    padding: 0.4rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
    color: gray;
    text-transform: none;
}

.recruitment .row form .inputBox h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}


/* recruitment ending */


/* sponsors starting*/

.sponsors .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.sponsors .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
}

.sponsors .box-container .box i {
    padding: 1rem;
    font-size: 5rem;
    color: var(--blue);
}

.sponsors .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
}

.sponsors .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.sponsors .box-container .box:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}


/* sponsors ending*/


/* review starting*/

.review .review-slider {
    padding-bottom: 2rem;
}

.review .box {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.review .box img {
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3 {
    color: #333;
    font-size: 2.5rem;
}

.review .box p {
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.review .box .stars i {
    color: var(--blue);
    font-size: 1.7rem;
}


/* reviews ending */


/* contact_us starting*/

.contact_us .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact_us .row .image {
    flex: 1 1 35rem;
}

.contact_us .row .image img {
    width: 100%;
    background-color: #698080;
    border-radius: 300px;
}

.contact_us .row form {
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.contact_us .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact_us .row form .btn {
    width: 100%;
    text-align: center;
}

.contact_us .row form .inputBox input,
.contact_us .row form textarea {
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}

.contact_us .row form textarea {
    height: 15rem;
    resize: none;
    width: 100%;
}


/* contact_us ending */

.sidebar {
    margin-left: -10px;
    flex: 1 1 0;
    max-width: 225px;
    padding: 2rem 0.5rem;
    background-color: #333333;
    border-radius: 10px;
}

.sidebar h3 {
    color: #707793;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar .menu {
    margin: 0 -1rem;
    margin-left: 2%;
    margin-top: 10px;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1.5em;
    color: #fff;
    text-decoration: none;
    transition: 0.1s linear;
}

.sidebar .menu i {
    margin-right: 1rem;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #3bba9c;
    border-right: 5px solid #3bba9c;
    font-size: 1.2rem;
}

.sidebar .menu .menu-item:hover {
    border-right: 5px solid #3bba9c;
}

.content-body {
    flex: 1 1 0;
    font-size: 13px;
    margin-top: 30px;
    margin-left: 30px;
}

.content-body h1 {
    color: #3c3f58;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.content-body p {
    color: #707793;
}

.content-body .square {
    height: 300px;
    width: 300px;
    background-color: #555;
    border-radius: 20%;
    z-index: 165765;
}

.content-body .square .square2 {
    height: 100px;
    width: 100px;
    background-color: rgb(189, 9, 9);
    z-index: 1;
}


/* footer starting */

.footer {
    margin-bottom: 0px;
    background: #333;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 0.7rem 0;
    color: #fff;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 0.7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.footer .credit span {
    color: var(--blue);
}

.social_media li {
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    background-color: #071122;
    border-radius: 50%;
    text-align: center;
    box-shadow: inset -1px -1px 2px white, inset 1px 1px 2px white;
}

.social_media li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.social_media li::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: 200%;
    width: 200%;
    bottom: 150%;
    left: -50%;
    transform: rotate(50deg);
}

.social_media li:hover::before {
    animation: slide 1s linear;
    animation-fill-mode: forwards;
}

.social_media li:hover .fa-instagram {
    color: white;
    border-radius: 100%;
    background: #f09433;
    background: -moz-linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient( 45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social_media li:hover .fa-twitter {
    color: #00acee;
}

.social_media li:hover .fa-linkedin {
    color: #0e76a8;
}

@keyframes slide {
    0% {}
    25% {
        bottom: 0%;
    }
    75% {
        bottom: 80%;
        transform: rotate(60deg);
    }
    100% {}
}


/* footer ending */


/* users page starting */

.users_page {
    position: relative;
    background: rgba(51, 51, 51);
}

.contant_userpage {
    margin-left: 7.5%;
}

.wrapper {
    display: flex;
    height: fit-content;
}


/* Floating column for labels: 25% width */

.col-25 {
    font-weight: bold;
    float: left;
    width: 20%;
    margin-top: 6px;
}


/* Floating column for inputs: 80% width */

.col-75 {
    float: left;
    width: 80%;
    margin-top: 6px;
}


/* clint (myorders)page */

.Travell_Info,
.Personal_Info,
.Luggage_Info,
.Address_Info,
.Summary_Info {
    padding: 6.5rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.infobtn {
    display: inline-block;
    padding: 2px 8px;
    margin-bottom: 0;
    border-radius: 15%;
    background-color: var(--blue);
    color: rgb(255, 255, 255);
}

.btn-info:hover {
    background-color: var(--blue);
    border-color: var(--blue);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}

.page-link {
    color: var(--blue);
}

.page-link:hover {
    color: var(--blue);
}

.page-item:hover {
    color: rgb(204, 0, 0);
    background-color: var(--blue);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    background: -moz-linear-gradient(var(--blue) 100%, var(--blue) 100%);
}


/* new Order page */

.message_contatnte {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 160px;
    margin-left: 225px;
    margin-top: -15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.moremessage:hover .message_contatnte {
    display: block;
}

.box-neworder {
    border: 2px solid var(--blue);
    margin-left: 0px;
    padding: 10px;
    width: 90%;
}


/* Clear floats after the columns */

.row-2:after {
    content: "";
    display: table;
    clear: both;
}


/* new order page ending */


/* checkout page */


/*-------------------- Buttons --------------------*/

.pymentbtn {
    display: block;
    background: #bded7d;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    padding: 15px 15px;
    border-radius: 5px;
    position: relative;
}

.pymentbtn::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.pymentbtn:hover::after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}


/*-------------------- Form --------------------*/

.form fieldset {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
}

.form fieldset.fieldset-expiration {
    float: left;
    width: 60%;
}

.form fieldset.fieldset-expiration .select {
    width: 84px;
    margin-right: 12px;
    float: left;
}

.form fieldset.fieldset-ccv {
    clear: none;
    float: right;
    width: 86px;
}

.form fieldset label {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(0, 0, 0, .6);
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Inconsolata;
}

.form fieldset input,
.form fieldset .select {
    width: 100%;
    height: 38px;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

.form fieldset input.input-cart-number,
.form fieldset .select.input-cart-number {
    display: inline-block;
    margin-right: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form fieldset input.input-cart-number:last-child,
.form fieldset .select.input-cart-number:last-child {
    margin-right: 0;
}

.form fieldset .select {
    position: relative;
}

.form fieldset .select::after {
    content: '';
    border-top: 8px solid #222;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    z-index: 2;
    top: 14px;
    right: 10px;
    pointer-events: none;
}

.form fieldset .select select {
    appearance: none;
    position: absolute;
    padding: 0;
    border: none;
    width: 100%;
    outline: none;
    top: 6px;
    left: 6px;
    background: none;
}

.form fieldset .select select :-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.form button {
    width: 100%;
    outline: none;
    background: linear-gradient(180deg, #4ea8a4, #3d8291);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    box-shadow: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}

.form button .fa {
    margin-right: 6px;
}


/*-------------------- Checkout --------------------*/

.checkout-header {
    background: linear-gradient(50deg, #b6b3b3, rgb(160, 213, 228));
}

.checkout {
    left: 40%;
    margin: 150px auto 30px;
    position: relative;
    width: 460px;
    background: white;
    border-radius: 15px;
    padding: 160px 45px 30px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .1);
}


/*-------------------- Credit Card --------------------*/

.credit-card-box {
    perspective: 1000;
    width: 400px;
    height: 280px;
    position: absolute;
    top: -112px;
    left: 50%;
    transform: translateX(-50%);
}

.credit-card-box:hover .flip,
.credit-card-box.hover .flip {
    transform: rotateY(180deg);
}

.credit-card-box .front,
.credit-card-box .back {
    width: 400px;
    height: 250px;
    border-radius: 15px;
    backface-visibility: hidden;
    background: linear-gradient(135deg, #5e7db6, var(--blue));
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(121, 121, 121, 0.3);
    box-shadow: 0 1px 1px rgba(111, 111, 111, 0.3);
}

.credit-card-box .flip {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}


/* card rotation  */

.credit-card-box .back {
    transform: rotateY(180deg);
}


/* logo */

.credit-card-box .logo {
    position: absolute;
    top: 9px;
    right: 20px;
    width: 60px;
    display: flex;
    flex-direction: row;
}


/* logo positon  */

.credit-card-box .front .logo {
    top: 10px;
    right: 65px;
}

.credit-card-box .back .logo {
    top: 185px;
    left: 15px;
}


/* logo spaceing  */

.credit-card-box .back .logo i {
    padding: 12%;
}

.credit-card-box .front .logo i {
    padding: 12%;
}


/* square chip properties */

.credit-card-box .chip {
    position: absolute;
    width: 60px;
    height: 45px;
    top: 20px;
    left: 20px;
    background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
    border-radius: 8px;
}


/* square inside the chip */

.credit-card-box .chip::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 4px solid rgba(128, 128, 128, .1);
    width: 80%;
    height: 70%;
    border-radius: 5px;
}


/* back strip styling */

.credit-card-box .strip {
    background: linear-gradient(135deg, #404040, #1a1a1a);
    position: absolute;
    width: 100%;
    height: 50px;
    top: 30px;
    left: 0;
}


/* credit card holder name box input styling */

.credit-card-box .number {
    position: absolute;
    margin: 0 auto;
    top: 103px;
    left: 19px;
    font-size: 35px;
}


/* credit card box text lable styling */

.credit-card-box label {
    font-size: 10px;
    letter-spacing: 1px;
    text-shadow: none;
    text-transform: uppercase;
    font-weight: normal;
    opacity: 0.5;
    display: block;
    margin-bottom: 3px;
}


/* card holder credit card box card expiration date styling */

.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
    position: absolute;
    margin: 0 auto;
    top: 180px;
    left: 19px;
    font-size: 22px;
    text-transform: capitalize;
}


/* credit card expiration date box text lable styling */

.credit-card-box .card-expiration-date {
    text-align: right;
    left: auto;
    right: 20px;
}


/* cvv box input box styling */

.credit-card-box .ccv {
    height: 36px;
    background: #fff;
    width: 91%;
    border-radius: 5px;
    top: 110px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0 auto;
    color: #000;
    text-align: right;
    padding: 10px;
}


/* cvv box text lable styling */

.credit-card-box .ccv label {
    margin: -25px 0 14px;
    color: #fff;
}

ul.linking li {
    text-transform: capitalize;
    display: inline-block;
    padding: 0 17px 0 8px;
    margin-right: 7px;
    position: relative;
}

ul.linking li a {
    display: block;
    padding: 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

ul.linking li a:hover {
    color: black;
    text-shadow: 0 2px 1px rgba(255, 255, 255, 0.3);
}

.input-group-addon {
    display: flex;
    flex-direction: row;
}

.input-group-addon i {
    width: fit-content;
    height: fit-content;
    padding: 12px;
    font-size: 14px;
    color: #000;
    background-color: rgb(199, 199, 199);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.Summary-container {
    position: fixed;
    background-color: #f2f2f2;
    padding: 15px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    top: 180px;
    right: 50px;
}

span.price {
    float: right;
    color: grey;
}

.Summary-container a {
    color: rgb(0, 0, 0);
    padding-right: 30px;
}

.Summary-container h4 {
    font-weight: bolder;
    font-size: small;
    text-align: center;
}

hr {
    border: 1px solid lightgrey;
}


/* client ending */


/* Admin Starting */

.Pushbtn {
    color: white;
    padding: 10px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Pushbtn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

.Deletebtn {
    color: white;
    padding: 10px;
    background-color: rgb(155, 0, 0);
    border: 1px solid rgb(155, 0, 0);
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-right: 4px;
}

.Deletebtn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

.Ordersbtn {
    display: flex;
    flex-direction: row;
}

.popup {
    position: fixed;
    background-color: #ffffff;
    width: fit-content;
    height: fit-content;
    padding: 30px 40px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #ffffff;
    background: var(--blue);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup a {
    display: block;
    width: 150px;
    position: relative;
    margin: 10px auto;
    text-align: center;
    background-color: var(--blue);
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 0;
}

.Agentstable {
    background: linear-gradient(50deg, #a4a4a470, rgb(211, 211, 211));
    max-height: 400px;
}


/* Admin ending */


/* media queries  */

@media (max-width: 1288px) {
    html {
        font-size: 55%;
    }
    .box-neworder {
        width: 90%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
    .box-neworder {
        width: 90%;
    }
}

@media (max-width: 768px) {
    #menu-bar {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a {
        display: block;
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
    .box-neworder {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
    input[type="reset"] {
        width: 100%;
        margin-top: 0;
    }
    html {
        font-size: 50%;
    }
    .heading span {
        font-size: 2.5rem;
    }
    .contact_us .row form .inputBox input {
        width: 100%;
    }
    #sponsor3 {
        width: 50%;
    }
    .login-form-container {
        margin: left;
    }
    .contant_userpage {
        margin-left: 0%;
    }
    .box-neworder {
        width: 90%;
    }
    .sidebar {
        max-width: 25vw;
    }
}